.breadcrumbs {
  width: 100%;
  position: relative;
  &__link {
    display: inline-block;
    @include type-setting(-1);
    color: set-color('white');
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding-right: 13px;
    &::after {
      content: "/";
      position: absolute;
      right: 3px;
      top: 0;
    }
    &:last-child {
      cursor: default;
      &::after {
        content: "";
      }
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        pointer-events: none;
      }
    }
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      color: set-color('white');
    }
  }
}
