.main-nav {
  width: 100%;
  height: 100vh;
  padding-top: 4.125rem;
  background-color: set-color('nav-bg');
  border: 15px solid set-color('primary');
  position: fixed;
  z-index: 1010;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: translate3d(0, -100vh, -200px);
  transition: all 500ms cubic-bezier(0.6, 0, 0.4, 1);
  &.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  &__wrap {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
  &__heading {
    display: inline-block;
    font-family: $main-font, serif;
    @include type-setting(6);
    color: set-color('gold');
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid set-color('accent');
  }
  &__list {
    padding: 0;
    margin-top: 2.5rem;
    list-style: none;
    li {
      margin-bottom: 0.75rem;
      a {
        font-family: $main-font, serif;
        @include type-setting(1);
        color: set-color('white');
      }
    }
  }
  &__close {
    width: 50px;
    height: 50px;
    background-color: set-color('primary');
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: type-scale(-1);
    line-height: 50px;
    color: set-color('white');
    text-align: center;
  }
}

// Media
@media screen and (max-width: 1280px) {
  .main-nav {
    &__wrap {
      max-width: 960px;
    }
    &__heading {
      @include type-setting(4);
    }
    &__list {
      li {
        a {
          @include type-setting(0);
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .main-nav {
    height: auto;
    padding: 2rem 0;
    &__wrap {
      max-width: 750px;
    }
    &__heading {
      margin-bottom: 2rem;
    }
    &__list {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    &__wrap {
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 420px) {
  .main-nav {
    padding-top: 1rem;
    &__heading {
      @include type-setting(3);
      margin-bottom: 1.5rem;
      margin-top: 1rem;
      padding-bottom: 0.25rem;
      border-width: 2px;
    }
    &__close {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }
}
