.registration {
  display: none;
  position: relative;
  width: 100%;
  opacity: 0;
  transition: all 300ms cubic-bezier(0.6, 0, 0.4, 1);
  &.shown {
    opacity: 1;
  }
  &.db {
    display: block;
  }
  &__header {
    padding-bottom: 30px;
    border-bottom: 1px solid set-color('accent');
    margin-bottom: 50px;
    .slide-window__heading {
      border-bottom: none;
      padding: 0;
      margin-bottom: 10px;
      display: block;
      @include type-setting(8);
    }
  }
  &__note {
    @include type-setting(-1);
    color: set-color('white');
    font-style: italic;
    margin-top: 20px;
  }
  &__steps {
    font-family: $main-font;
    @include type-setting(4);
    color: set-color('white');
    margin-bottom: 25px;
  }
  &__p {
    @include type-setting(2);
    color: set-color('white');
    margin-bottom: 10px;
  }
  &__form {
    width: 100%;
    > * {
      display: block;
      width: 100%;
    }
    input {
      margin-bottom: 20px;
    }
  }
  .maxw230 {
    max-width: 230px;
  }
  .bold {
    font-weight: 700;
  }
}

// MEDIA
@media screen and (max-width: 1366px) {
  .registration {
    &__header {
      margin-bottom: 30px;
      padding-bottom: 20px;
      .slide-window__heading {
        @include type-setting(6);
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .registration {
    &__steps {
      @include type-setting(3);
    }
    &__p {
      @include type-setting(1);
    }
  }
}

@media screen and (max-width: 992px) {
  .registration {
    padding-top: 50px;
    &__header {
      .slide-window__heading {
        @include type-setting(4);
      }
    }
    &__steps {
      @include type-setting(2);
    }
    &__p {
      @include type-setting(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .registration {
    padding-top: 0;
    &__header {
      margin: 30px -15px 0;
      text-align: left;
      .slide-window__heading {
        @include type-setting(4);
      }
    }
    &__steps {
      margin-top: 30px;
      margin-bottom: 15px;
    }
    &__form {
      max-width: 320px;
    }
  }
}

@media screen and (max-width: 420px) {
  .registration {
    padding-top: 0;
    &__header {
      .slide-window__heading {
        @include type-setting(3);
      }
    }
    &__steps {
      @include type-setting(1);
    }
  }
}
