.main-nav {
  background-color: set-color('nav-bg');
  &__wrap {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
  &__heading {
    font-family: $main-font, serif;
    @include type-setting(6);
    color: set-color('white');
  }
}
