@font-face {
    font-family: $main-font;
    src: local('../fonts/ChunkFive Ex'), local('../fonts/ChunkFiveEx'), url('../fonts/chunkfiveex.woff2') format('woff2'), url('../fonts/chunkfiveex.woff') format('woff'), url('../fonts/chunkfiveex.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
