html {
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
  font-size: 16px;
}

body {
  max-width: 1920px;
  min-width: 320px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: set-color('primary');
  font-family: $content-font;
}

.main {
  position: relative;
  padding: 50px 15px 0;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.6, 0, 0.4, 1);
  &.trans {
    opacity: 0.1;
  }
}
