.barber-school {
  background: {
    image: url(../img/i12.jpg);
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  padding: 100px 0 60px;
  &__h2 {
    font-family: $main-font;
    @include type-setting(7);
    color: set-color('accent');
    margin-bottom: 30px;
  }
  &__slogan {
    @include type-setting(2);
    color: set-color('primary');
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__h4 {
    font-family: $main-font;
    @include type-setting(2);
    color: set-color('primary');
    font-weight: 300;
    margin-bottom: 30px;
  }
  &__list {
    margin-bottom: 25px;
    padding-left: 15px;
    li {
      @include type-setting(0);
      color: set-color('primary');
      margin-bottom: 5px;
    }
  }
  &__btn {
    @extend .form-btn;
    width: 226px;
    height: 60px;
    letter-spacing: 1px;
  }
  &__contacts {
    margin-top: 70px;
    padding: 15px 60px;
    border: 1px solid set-color('primary');
    font-family: $main-font;
    color: set-color('primary');
    position: relative;
  }
  &__contacts-descr {
    @include type-setting(2);
    margin-bottom: 0;
  }
  &__phone {
    @include type-setting(5);
    margin-top: 10px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .barber-school {
    padding-top: 60px;
    &__h2 {
      @include type-setting(6);
    }
    &__phone {
      @include type-setting(4);
    }
    &__contacts-descr {
      @include type-setting(1);
    }
    &__contacts {
      padding: 10px 40px;
    }
  }
}

@media screen and (max-width: 992px) {
  .barber-school {
    &__phone {
      @include type-setting(2);
      margin-top: 15px;
    }
    &__contacts-descr {
      @include type-setting(0);
    }
    &__contacts {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .barber-school {
    background-position: right center;
    &__contacts-descr {
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .barber-school {
    &__h2 {
      @include type-setting(5);
    }

  }
}
