.slogans {
  padding: 130px 0 95px;
}

.slogan-carousel {
  position: relative;
  &__content {
    background-color: set-color('primary');
    position: relative;
    padding-top: 60px;
    text-align: center;
  }
  &__heading {
    font-family: $main-font;
    @include type-setting(8);
    color: set-color('white');
    width: 100%;
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    &::after {
      content: attr(data-sloagn);
      text-transform: uppercase;
      margin-left: 10px;
    }
  }
  &__description {
    @include type-setting(1);
    color: set-color('white');
    max-width: 80%;
    margin: 0 auto;
  }

  .owl-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .owl-buttons {
      color: set-color('white');
      font-size: 100px;
      line-height: 1;
      .owl-prev {
        float: left;
      }
      .owl-next {
        float: right;
      }
    }
  }
}
