.price-table {
  position: relative;
  width: 100%;
  margin-top: 50px;
  .table__th,
  .table__td {
    &:first-child {
      width: 60%;
    }
    &:nth-child(2) {
      width: 25%
    }
    &:last-child {
      width: 15%;
      text-align: right;
    }
  }
}

.table {
  color: set-color('white');
  > thead {
    > tr {
      > th {
        padding: 25px 25px 25px 0;
        border-bottom: 1px solid set-color('white');
        font-family: $main-font;
        @include type-setting(3);
      }
    }
  }
  > tbody {
    > tr {
      > td {
        padding: 25px 25px 25px 0;
        border-bottom: 1px solid set-color('white');
        @include type-setting(2);
      }
    }
  }
  &__tr {
    position: relative;
  }
  &__th,
  &__td {
    vertical-align: top;
    position: relative;
  }
  &__td {
    small {
      font-size: 75%;
    }
    &:first-child {
      font-weight: 700;
    }
  }
  &__descr {
    display: block;
    font-weight: 400;
    @include type-setting(0);
  }

  &.footable.breakpoint {
    > tbody {
      > tr {
        > td {
          > span {
            &.footable-toggle {
              position: absolute;
              right: 0;
              top: 0;
              &::before {
                content: "\f218";
                font-family: "Ionicons";
                color: set-color('white');
              }
            }
          }
        }
        &.footable-detail-show {
          > td {
            > span {
              &.footable-toggle {
                position: absolute;
                right: 0;
                top: 0;
                &::before {
                  content: "\f209";
                }
              }
            }
          }
        }
      }
    }
  }

  .footable-row-detail-value {
    text-align: right;
  }

  .footable-row-detail-inner {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .table {
    > thead {
      > tr {
        > th {
          padding-right: 0;
          @include type-setting(2);
        }
      }
    }
    > tbody {
      > tr {
        > td {
          padding-right: 0;
          @include type-setting(1);
        }
      }
    }
  }
}
